# 1. What are data structures, and why are they important?

ANS 1. Data structure are ways of storing & organizing the data in computer. The storeed data now used efficiently & effectively.
It help in problem solving and data manipulation.

# 2.  Explain the difference between mutable and immutable data types with examples?

 ans 2. Mutable data type :- Mutability refer to change an object value after its being created in the memory.
 example :- list is a type of mutable object/ support item assignment


 grocery_list = ["A","B","C","D"]
 #here a list has been created named grocery list which contain different object like A,B,C,D

  here we can make changes within the list
  grocery_list["A"] = "M"


  Immutable data type := Immutability refer to the ability where we cannot make any changes in the object value after it being created in  the memory of computer.
  example :- tuple is type of immutable object/ does not support item assignment
tuple =(1,2,3)
#here in tuple we can only make a addition to it but we cant change the element.

# 3. What are the main differences between lists and tuples in Python?

Ans 3  

1.   The major difference between list and tuple is that list is mutable and tuple is immutable data type.
2.   list are suitable for the collection of data that may need to be modified,
where tuple are useful when we need to fill the fixed data.
3. list can vary in size but tuple has fixed size once its created in memory.
4. list define with square brakets[ ] and tuple define with parenthesis ( ).

4. Describe how dictionaries store data?

ans 4. Dictionaries stores data in pair format ('keys' : 'values'). The key and value must be unique. keys are generally immutable.

5. Why might you use a set instead of a list in Python?

ans 5. Both set ans list are used to store collection of items.
but in set are unordered collection of items where, list are ordered collection of items. sets collects only unique items and list can have duplicate items so sets are more usefull than lists.

6. What is a string in Python, and how is it different from a list?

ans6. A string a sequence of characters enclosed in either single quotes ('') or double quotes (""). string is a immutable sequence of character.

A list is like a shopping bag in which we can carry any type of object.
list ia a mutable collection of various data types.

7.  How do tuples ensure data integrity in Python?

ans 7. Tuple ensure the data integrity by immutability it help to create unchangable data which remain constant through the data lifetime.

8. What is a hash table, and how does it relate to dictionaries in Python?

ans 8. A hash table is a data structure that stores key-value pairs, where each key is unique and used to calculate the index for storing the corresponding value.

9. Can lists contain different data types in Python?

ans 9. Yes, list can store different data types such as

1. Strings
2. Integers
3. Floats
4. Booleans
5. dictionaries
6. tuples

10. Explain why strings are immutable in Python?

ans 10. In Python, strings are made immutable so that users cannot change the contents of the object (even by mistake). This avoids unnecessary bugs.

Some other immutable objects are integer, float, tuple, and bool.

11. What advantages do dictionaries offer over lists for certain tasks?

ans 11. Dictionaries are more suitable over lists in situations where quick data retrieval based on a key is important, such as when storing large amounts of data. Lists, on the other hand, are better when the order of elements is important or when you need to perform operations on the list's elements sequentially.

12. Describe a scenario where using a tuple would be preferable over a list?

ans 12. A scenario where a tuple would be preferred over a list is when representing coordinates. For instance, when dealing with 2D points, a tuple (x, y) is more suitable than a list [x, y]. This is because coordinates are inherently fixed; their values are not meant to be changed after creation. Using a tuple enforces this immutability, preventing accidental modifications that could occur with a list.

13. How do sets handle duplicate values in Python?

ans. Sets in Python are designed to store only unique elements. When an attempt is made to add a duplicate value to a set, Python automatically discards the duplicate, ensuring that the set contains only distinct elements.

14. How does the “in” keyword work differently for lists and dictionaries?

ans 14. For lists, "in" checks for the presence of a specific element within the list, while for dictionaries, it checks for the presence of a key in the dictionary.

15. Can you modify the elements of a tuple? Explain why or why not?

ans 14. No, you cannot directly modify the elements of a tuple in Python. Tuples are immutable, meaning their contents cannot be changed after creation. This is a key difference between tuples and lists, which are mutable. If you need a data structure that allows modification, a list should be used instead.

#16. What is a nested dictionary, and give an example of its use case?

ans 16. A nested dictionary is a dictionary where the value of one or more keys is another dictionary.


```
# use case
students = {
  "class_I": {
    "stu1": {
      "name": "Alice",
      "roll_no": 56,
      "marks%": 80
    },
    "stu2": {
      "name": "Bob",
      "roll_no": 48,
      "marks%": 56
    }
  },
  "class_II": {
    "stu3": {
      "name": "Charlie",
      "roll_no": 26,
      "marks%": 90
    }
  }
}
```

17. Describe the time complexity of accessing elements in a dictionary.

ans 17. Accessing an element in a dictionary typically takes O(1) (constant time) on average. This means the time it takes to retrieve a value using its key doesn't increase significantly as the dictionary size grows. However, in the worst-case scenario, where numerous collisions occur (meaning different keys map to the same hash value), the time complexity can degrade to O(n) (linear time).

18. In what situations are lists preferred over dictionaries?

ans 18. Lists are generally preferred over dictionaries when the order of elements is crucial, frequent appending/extension is needed, or when the data is not associated with specific keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

ans.19 Dictionaries are considered unordered because they don't inherently maintain a specific order of elements based on when they were added.
 This lack of order affects data retrieval in that you cannot access items by their position (index) like you can with lists or tuples. Instead, you retrieve values using keys, which allows for very fast lookups but doesn't guarantee any particular sequence when iterating or printing.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

ans 20. a dictionary offers significantly faster lookup of values based on unique keys compared to a list, which relies on numerical indices.

In [131]:
print("Practical Questions")

Practical Questions

In [132]:
# 1. Write a code to create a string with your name and print it
a = "Rhea Sharma"
print(a)

Rhea Sharma

In [133]:
# 2. Write a code to find the length of the string "Hello World"
b = "Hello World"
len(b) # len is used to find the lenght of the string.

11

In [134]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
c = "Python Programming"
c[0:3] # slicing help to find the certain alphabet, number through indexing.

'Pyt'

In [135]:
# 4. Write a code to convert the string "hello" to uppercase
d = "hello"
d.upper() # upper help to modify the string.

'HELLO'

In [136]:
# 5.  Write a code to replace the word "apple" with "orange" in the string "I like apple".
e = "I like apple"
e.replace("apple","orange") #replace help to make changes in the lines.

'I like orange'

In [137]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
List = [1,2,3,4,5]
print(List) # list is an mutable and represent with [] brackets.

[1, 2, 3, 4, 5]

In [138]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
List1 = [1,2,3,4]
List1.append(10) # append help to add elements into the existing lists.
print(List1)

[1, 2, 3, 4, 10]

In [139]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
List2 = [1,2,3,4,5]
List2.remove(3) # remove help to remove element from the existing lists.
print (List2)

[1, 2, 4, 5]

In [140]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list3 = ['a','b','c','d']
list3[1:2] #here i have used slicing to show the second element from the list.

['b']

In [141]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
list4 =[10,20,30,40,50]
list4.reverse()
print(list4)

[50, 40, 30, 20, 10]

In [142]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [143]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple1 = ('red','green','blue','yellow')
tuple1 [1:4]

('green', 'blue', 'yellow')

In [144]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple2 =(10,20,5,15)
min(tuple2) # here to find the min value in the tuple we use min before tuple2

5

In [145]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple3 =('dog','cat','rabbit')
tuple3[1:2]

('cat',)

In [146]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple4 = ('apple','orange','pineapple')
'kiwi' in tuple4 # here i have use in to know wheather kiwi is in the list or not and answer is false.

False

In [147]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {'a','b','c'}
print(set)

{'a', 'b', 'c'}

In [148]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1 = {1,2,3,4,5}
set1.clear() # here clear help to empty the list
print(set1)

set()

In [149]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set2 = {1,2,3,4}
set2.remove(4) # here the remove help to remove specific element from the set
print(set2)

{1, 2, 3}

In [150]:
# 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set3 = {1,2,3}
set4 = {3,4,5}
set3.union(set4)

{1, 2, 3, 4, 5}

In [151]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set3 = {1,2,3}
set5 = {2,3,4}
set3.intersection(set5)

{2, 3}

In [152]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {"name":"Rhea", "age":"_____", "city":"palwal"}
print(dict)

{'name': 'Rhea', 'age': '_____', 'city': 'palwal'}

In [153]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {"name":"john", "age":25}
dict["country"] = "USA"
print(dict)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [154]:
 # 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
 dict1= {'name': 'Alice', 'age': 30}
 dict1["name"]

'Alice'

In [155]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict2 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict2.pop("age")
print(dict2)

{'name': 'Bob', 'city': 'New York'}

In [156]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict3 = {'name': 'Alice', 'city': 'Paris'}
"city" in dict3

True

In [157]:
# 26.  Write a code to create a list, a tuple, and a dictionary, and print them all.
dict3 = {'name': 'Alice', 'city': 'Paris'}
print(dict3)
tuple4 = ('apple','orange','pineapple')
print(tuple4)
list3 = ['a','b','c','d']
print(list3)

{'name': 'Alice', 'city': 'Paris'}
('apple', 'orange', 'pineapple')
['a', 'b', 'c', 'd']

In [158]:
import random
# 27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
list7 = random.sample(range(1,101),5)
list7.sort()
print(list7)

[16, 20, 27, 57, 77]

In [159]:
# 28. Write a code to create a list with strings and print the element at the third index.
list9 = ['apple','orange','pineapple','mango','kiwi','grapes']
list9 [3]

'mango'

In [160]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict3 = {'name': 'Alice', 'city': 'Paris'}
dict4 ={'ocean': 'indian ocean','defence':'indian army, indian air force, indian navy'}
dict3.update(dict4)
print(dict3)

{'name': 'Alice', 'city': 'Paris', 'ocean': 'indian ocean', 'defence': 'indian army, indian air force, indian navy'}

In [161]:
del set

In [162]:
# 30. Write a code to convert a list of strings into a set.
list4 = [10,20,30,40,50]
set_numbers = set(list4)
print(set_numbers)

{40, 10, 50, 20, 30}